.swiper-button-next,
.swiper-button-prev {
  background-color: #6b7280;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.75;
  transition: opacity 0.2s ease;
  color: white;
  padding: 30px;
}
